<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>faces</key>
	<array>
        <dict> <key>cname</key> <string>大笑</string> <key>filename</key> <string>f000.gif</string> </dict>
        <dict> <key>cname</key> <string>调皮</string> <key>filename</key> <string>f001.gif</string> </dict>
        <dict> <key>cname</key> <string>流汗</string> <key>filename</key> <string>f002.gif</string> </dict>
        <dict> <key>cname</key> <string>偷笑</string> <key>filename</key> <string>f003.gif</string> </dict>
        <dict> <key>cname</key> <string>再见</string> <key>filename</key> <string>f004.gif</string> </dict>
        <dict> <key>cname</key> <string>敲打</string> <key>filename</key> <string>f005.gif</string> </dict>
        <dict> <key>cname</key> <string>擦汗</string> <key>filename</key> <string>f006.gif</string> </dict>
        <dict> <key>cname</key> <string>猪头</string> <key>filename</key> <string>f007.gif</string> </dict>
        <dict> <key>cname</key> <string>玫瑰</string> <key>filename</key> <string>f008.gif</string> </dict>
        <dict> <key>cname</key> <string>流泪</string> <key>filename</key> <string>f009.gif</string> </dict>
        <dict> <key>cname</key> <string>大哭</string> <key>filename</key> <string>f010.gif</string> </dict>
        <dict> <key>cname</key> <string>嘘</string> <key>filename</key> <string>f011.gif</string> </dict>
        <dict> <key>cname</key> <string>酷</string> <key>filename</key> <string>f012.gif</string> </dict>
        <dict> <key>cname</key> <string>抓狂</string> <key>filename</key> <string>f013.gif</string> </dict>
        <dict> <key>cname</key> <string>委屈</string> <key>filename</key> <string>f014.gif</string> </dict>
        <dict> <key>cname</key> <string>便便</string> <key>filename</key> <string>f015.gif</string> </dict>
        <dict> <key>cname</key> <string>炸弹</string> <key>filename</key> <string>f016.gif</string> </dict>
        <dict> <key>cname</key> <string>菜刀</string> <key>filename</key> <string>f017.gif</string> </dict>
        <dict> <key>cname</key> <string>可爱</string> <key>filename</key> <string>f018.gif</string> </dict>
        <dict> <key>cname</key> <string>色</string> <key>filename</key> <string>f019.gif</string> </dict>
        <dict> <key>cname</key> <string>害羞</string> <key>filename</key> <string>f020.gif</string> </dict>
        <dict> <key>cname</key> <string>得意</string> <key>filename</key> <string>f021.gif</string> </dict>
        <dict> <key>cname</key> <string>吐</string> <key>filename</key> <string>f022.gif</string> </dict>
        <dict> <key>cname</key> <string>微笑</string> <key>filename</key> <string>f023.gif</string> </dict>
        <dict> <key>cname</key> <string>愤怒</string> <key>filename</key> <string>f024.gif</string> </dict>
        <dict> <key>cname</key> <string>尴尬</string> <key>filename</key> <string>f025.gif</string> </dict>
        <dict> <key>cname</key> <string>惊恐</string> <key>filename</key> <string>f026.gif</string> </dict>
        <dict> <key>cname</key> <string>冷汗</string> <key>filename</key> <string>f027.gif</string> </dict>
        <dict> <key>cname</key> <string>爱</string> <key>filename</key> <string>f028.gif</string> </dict>
        <dict> <key>cname</key> <string>示爱</string> <key>filename</key> <string>f029.gif</string> </dict>
        <dict> <key>cname</key> <string>白眼</string> <key>filename</key> <string>f030.gif</string> </dict>
        <dict> <key>cname</key> <string>撇嘴</string> <key>filename</key> <string>f031.gif</string> </dict>
        <dict> <key>cname</key> <string>郁闷</string> <key>filename</key> <string>f032.gif</string> </dict>
        <dict> <key>cname</key> <string>惊讶</string> <key>filename</key> <string>f033.gif</string> </dict>
        <dict> <key>cname</key> <string>疑问</string> <key>filename</key> <string>f034.gif</string> </dict>
        <dict> <key>cname</key> <string>睡</string> <key>filename</key> <string>f035.gif</string> </dict>
        <dict> <key>cname</key> <string>亲亲</string> <key>filename</key> <string>f036.gif</string> </dict>
        <dict> <key>cname</key> <string>憨笑</string> <key>filename</key> <string>f037.gif</string> </dict>
        <dict> <key>cname</key> <string>喜欢</string> <key>filename</key> <string>f038.gif</string> </dict>
        <dict> <key>cname</key> <string>衰</string> <key>filename</key> <string>f039.gif</string> </dict>
        <dict> <key>cname</key> <string>撇嘴</string> <key>filename</key> <string>f040.gif</string> </dict>
        <dict> <key>cname</key> <string>阴险</string> <key>filename</key> <string>f041.gif</string> </dict>
        <dict> <key>cname</key> <string>奋斗</string> <key>filename</key> <string>f042.gif</string> </dict>
        <dict> <key>cname</key> <string>发呆</string> <key>filename</key> <string>f043.gif</string> </dict>
        <dict> <key>cname</key> <string>右哼哼</string> <key>filename</key> <string>f044.gif</string> </dict>
        <dict> <key>cname</key> <string>拥抱</string> <key>filename</key> <string>f045.gif</string> </dict>
        <dict> <key>cname</key> <string>坏笑</string> <key>filename</key> <string>f046.gif</string> </dict>
        <dict> <key>cname</key> <string>飞吻</string> <key>filename</key> <string>f047.gif</string> </dict>
        <dict> <key>cname</key> <string>鄙视</string> <key>filename</key> <string>f048.gif</string> </dict>
        <dict> <key>cname</key> <string>晕</string> <key>filename</key> <string>f049.gif</string> </dict>
        <dict> <key>cname</key> <string>大兵</string> <key>filename</key> <string>f050.gif</string> </dict>
        <dict> <key>cname</key> <string>可怜</string> <key>filename</key> <string>f051.gif</string> </dict>
        <dict> <key>cname</key> <string>强</string> <key>filename</key> <string>f052.gif</string> </dict>
        <dict> <key>cname</key> <string>弱</string> <key>filename</key> <string>f053.gif</string> </dict>
        <dict> <key>cname</key> <string>握手</string> <key>filename</key> <string>f054.gif</string> </dict>
        <dict> <key>cname</key> <string>胜利</string> <key>filename</key> <string>f055.gif</string> </dict>
        <dict> <key>cname</key> <string>抱拳</string> <key>filename</key> <string>f056.gif</string> </dict>
        <dict> <key>cname</key> <string>凋谢</string> <key>filename</key> <string>f057.gif</string> </dict>
        <dict> <key>cname</key> <string>饭</string> <key>filename</key> <string>f058.gif</string> </dict>
        <dict> <key>cname</key> <string>蛋糕</string> <key>filename</key> <string>f059.gif</string> </dict>
        <dict> <key>cname</key> <string>西瓜</string> <key>filename</key> <string>f060.gif</string> </dict>
        <dict> <key>cname</key> <string>啤酒</string> <key>filename</key> <string>f061.gif</string> </dict>
        <dict> <key>cname</key> <string>飘虫</string> <key>filename</key> <string>f062.gif</string> </dict>
        <dict> <key>cname</key> <string>勾引</string> <key>filename</key> <string>f063.gif</string> </dict>
        <dict> <key>cname</key> <string>OK</string> <key>filename</key> <string>f064.gif</string> </dict>
        <dict> <key>cname</key> <string>爱你</string> <key>filename</key> <string>f065.gif</string> </dict>
        <dict> <key>cname</key> <string>咖啡</string> <key>filename</key> <string>f066.gif</string> </dict>
        <dict> <key>cname</key> <string>钱</string> <key>filename</key> <string>f067.gif</string> </dict>
        <dict> <key>cname</key> <string>月亮</string> <key>filename</key> <string>f068.gif</string> </dict>
        <dict> <key>cname</key> <string>美女</string> <key>filename</key> <string>f069.gif</string> </dict>
        <dict> <key>cname</key> <string>刀</string> <key>filename</key> <string>f070.gif</string> </dict>
        <dict> <key>cname</key> <string>发抖</string> <key>filename</key> <string>f071.gif</string> </dict>
        <dict> <key>cname</key> <string>差劲</string> <key>filename</key> <string>f072.gif</string> </dict>
        <dict> <key>cname</key> <string>拳头</string> <key>filename</key> <string>f073.gif</string> </dict>
        <dict> <key>cname</key> <string>心碎</string> <key>filename</key> <string>f074.gif</string> </dict>
        <dict> <key>cname</key> <string>太阳</string> <key>filename</key> <string>f075.gif</string> </dict>
        <dict> <key>cname</key> <string>礼物</string> <key>filename</key> <string>f076.gif</string> </dict>
        <dict> <key>cname</key> <string>足球</string> <key>filename</key> <string>f077.gif</string> </dict>
        <dict> <key>cname</key> <string>骷髅</string> <key>filename</key> <string>f078.gif</string> </dict>
        <dict> <key>cname</key> <string>挥手</string> <key>filename</key> <string>f079.gif</string> </dict>
        <dict> <key>cname</key> <string>闪电</string> <key>filename</key> <string>f080.gif</string> </dict>
        <dict> <key>cname</key> <string>饥饿</string> <key>filename</key> <string>f081.gif</string> </dict>
        <dict> <key>cname</key> <string>困</string> <key>filename</key> <string>f082.gif</string> </dict>
        <dict> <key>cname</key> <string>咒骂</string> <key>filename</key> <string>f083.gif</string> </dict>
        <dict> <key>cname</key> <string>折磨</string> <key>filename</key> <string>f084.gif</string> </dict>
        <dict> <key>cname</key> <string>抠鼻</string> <key>filename</key> <string>f085.gif</string> </dict>
        <dict> <key>cname</key> <string>鼓掌</string> <key>filename</key> <string>f086.gif</string> </dict>
        <dict> <key>cname</key> <string>糗大了</string> <key>filename</key> <string>f087.gif</string> </dict>
        <dict> <key>cname</key> <string>左哼哼</string> <key>filename</key> <string>f088.gif</string> </dict>
        <dict> <key>cname</key> <string>哈欠</string> <key>filename</key> <string>f089.gif</string> </dict>
        <dict> <key>cname</key> <string>快哭了</string> <key>filename</key> <string>f090.gif</string> </dict>
        <dict> <key>cname</key> <string>吓</string> <key>filename</key> <string>f091.gif</string> </dict>
        <dict> <key>cname</key> <string>篮球</string> <key>filename</key> <string>f092.gif</string> </dict>
        <dict> <key>cname</key> <string>乒乓球</string> <key>filename</key> <string>f093.gif</string> </dict>
        <dict> <key>cname</key> <string>NO</string> <key>filename</key> <string>f094.gif</string> </dict>
        <dict> <key>cname</key> <string>跳跳</string> <key>filename</key> <string>f095.gif</string> </dict>
        <dict> <key>cname</key> <string>怄火</string> <key>filename</key> <string>f096.gif</string> </dict>
        <dict> <key>cname</key> <string>转圈</string> <key>filename</key> <string>f097.gif</string> </dict>
        <dict> <key>cname</key> <string>磕头</string> <key>filename</key> <string>f098.gif</string> </dict>
        <dict> <key>cname</key> <string>回头</string> <key>filename</key> <string>f099.gif</string> </dict>
        <dict> <key>cname</key> <string>跳绳</string> <key>filename</key> <string>f100.gif</string> </dict>
        <dict> <key>cname</key> <string>激动</string> <key>filename</key> <string>f101.gif</string> </dict>
        <dict> <key>cname</key> <string>街舞</string> <key>filename</key> <string>f102.gif</string> </dict>
        <dict> <key>cname</key> <string>献吻</string> <key>filename</key> <string>f103.gif</string> </dict>
        <dict> <key>cname</key> <string>左太极</string> <key>filename</key> <string>f104.gif</string> </dict>
        <dict> <key>cname</key> <string>右太极</string> <key>filename</key> <string>f105.gif</string> </dict>
        <dict> <key>cname</key> <string>闭嘴</string> <key>filename</key> <string>f106.gif</string> </dict>

	</array>
</dict>
</plist>
