<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>menu</key>
	<array>
		<dict>
			<key>title</key>
			<string>个人</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>title</key>
					<string>我创建的</string>
					<key>cid</key>
					<string>owner</string>
				</dict>
				<dict>
					<key>title</key>
					<string>我参加的</string>
					<key>cid</key>
					<string>actor</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>分类</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>title</key>
					<string>全部</string>
					<key>cid</key>
					<string>all</string>
				</dict>
				<dict>
					<key>title</key>
					<string>会议</string>
					<key>cid</key>
					<string>meeting</string>
				</dict>
				<dict>
					<key>title</key>
					<string>任务</string>
					<key>cid</key>
					<string>task</string>
				</dict>
				<dict>
					<key>title</key>
					<string>私聊</string>
					<key>cid</key>
					<string>chat</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>近期</string>
			<key>submenu</key>
			<array>
				<dict>
					<key>title</key>
					<string>今天</string>
					<key>cid</key>
					<string>today</string>
				</dict>
				<dict>
					<key>title</key>
					<string>近三天</string>
					<key>cid</key>
					<string>day3</string>
				</dict>
				<dict>
					<key>title</key>
					<string>一周</string>
					<key>cid</key>
					<string>week</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
